body,html {
    margin: 0px;
    height: 100%;
}

.slideshow {
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1000;
    overflow: hidden;
}

.slideshow img {
    width: auto;
    height: 100%;
    text-align: center;
    opacity: 0;
    filter:alpha(opacity=0);
}
/*
#menu {
    z-index: 1;
    top: 0.8em;
    left: 0.8em;
    position: absolute;
}
#menu button {
    z-index: 101;
} */

